{% extends 'base.html' %}
{% load static %}
{% load cms_tags menu_tags sekizai_tags %}

{% block loadafter %}
  <script src="{% static "js/banner.js" %}"></script>
  {{ block.super }}
{% endblock %}

{% block content %}

<!-- Banner -->
  <div id="nowplaying" class="container position-absolute d-none d-sm-block" style="" title="">
    <div class="row mx-auto">Now running:</div>
    <div class="row mx-auto" style="text-align:justify;">
      <span style="display:inline-block;width:100%;"><small id="classpath"><i class="fas fa-caret-right"></i> Loading random Django class... <i class="fas fa-caret-left"></i></small></span>
    </div>
  </div>
<section id="jumbotron" class="jumbotron jumbotron-fluid p-0 m-0">
  <div class="container-fluid p-0 w-100">
      <div id="code_runner" class="p-1 w-100 align-text-bottom align-bottom" style="opacity: 0.5;left:0;bottom:0;white-space:pre-wrap;overflow:hidden;"></div>
  </div>
  <!-- 
  <div class="container-fluid p-0 w-100">
      <div id="code_runner" class="p-1 w-100 align-text-bottom align-bottom" style="opacity: 0.5;left:0;bottom:0;white-space:pre-wrap;overflow:hidden;"></div>
  </div>
-->
  <div class="container-fluid position-absolute" style="top:0;margin-top:30vh;">
    <div id="logo" class="row">
      <div class="col d-flex justify-content-center">
        <h1><img src="{% static "images/logo.png" %}" class="w-100 mb-5"
        style="max-width: 900px;background-color:white;-webkit-box-shadow: 0px 0px 15px 15px rgba(255,255,255,1);-moz-box-shadow: 0px 0px 15px 15px rgba(255,255,255,1);box-shadow: 0px 0px 15px 15px rgba(255,255,255,1);"
        alt="Webentwicklung_E-Commerce_Online-Shop_Snake-Soft_logo">
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center mt-5">
        <a href="#produkte" class="btn btn-secondary btn-lg mx-auto" role="button" aria-pressed="true">
          <i class="fas fa-caret-down"></i>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="produkte" class="pt-5">{% placeholder 'produkte' %}</section>

<section id="technologien" class="p-1 p-sm-2 p-md-3 p-lg-4 p-xl-5" style="background-color:#23b1ec;">{% placeholder 'technologien' %}</section>

<div id="parallax" class="lazyload" style="background-image: url('{% static "images/heilbronn_von_Wartberg.jpg"%}');"></div>

<section id="philosophie" class="text-center py-5" style="background-color:#80bb2d;">{% placeholder 'philosophie' %}</section>

<section id="referenzen">{% placeholder 'referenzen' %}</section>

<section id="assistant" class="bg-secondary">{% placeholder 'assistant' %}</section>
{% endblock %}
