{% extends 'base.html' %}
{% load static %}
{% load cms_tags %}

{% block head %}
<style>
main{
  margin-bottom: 0px;
  background-position: 0% 25%;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('{% static "images/heilbronn_von_Wartberg.jpg"%}');
}
#inner-content{word-wrap: break-word;}
figcaption{font-size: 0.8em; font-style: italic;}
</style>
{% endblock %}

{% block content %}
<span class="d-flex py-0 py-md-5 w-100"></span>
<span class="d-flex py-0 w-100"></span>
<div id="inner-content" class="container-md my-md-5 py-5 px-3 px-md-5 bg-white border shadow" style="min-height: 500px;">
  <div class="row">
    <div class="col">
      {% block inner %}
        {% placeholder "content" %}
      {% endblock inner %}
    </div>
  </div>
</div>
<section class="placeholder" style="height:150px;"></section>
{% endblock %}