{% load cms_tags menu_tags sekizai_tags %}
<nav class="navbar navbar-expand-lg navbar-light" style="z-index:100;margin-top:10px;right:0;position:fixed;">
  <button class="navbar-toggler ml-auto bg-light" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mainNav">
    <ul class="navbar-nav ml-auto bg-white shadow-sm">
      {% block menu_pre %}{% endblock %}
      <li class="nav-item ml-auto w-100 text-center">
        <a class="nav-link" href="/#home">Home</a>
      </li>
      {% for child in children %}
        {% if child.children %}
            <li class="nav-item dropdown text-center">
              <a class="nav-link dropdown-toggle" href="#" id="produkteDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ child.get_menu_title }}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="produkteDropdown">
                <a class="dropdown-item" href="#{{ child.get_menu_title|lower }}">Übersicht</a>
                {% if child == 'produkte' %}fsaf{%endif%}
                <div class="dropdown-divider"></div>
                {% for entry in child.children %}
                  <a class="dropdown-item" href="{{ entry.get_absolute_url }}">{{ entry.get_menu_title }}</a>
                {% endfor %}
              </div>
            </li>
        {% endif %}
      {% endfor %}
      {# language_chooser "base/language_chooser.html" #}
    </ul>
  </div>
</nav>
