<form id="assistant-form" method="post" enctype="multipart/form-data" autocomplete="off">{% csrf_token %}
  {{ form.non_field_errors }}
  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
  {% endfor %}

    {% for field in form.visible_fields %}
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">{{ field.label_tag }}</label>
      <div class="col-sm-10">
        {{ field.errors }}
        {{ field }}
        {{ field.help_text }}
      </div>
    </div>

    {% endfor %}
</form>

{% block loadafter %}
  <script>
    var html = '<button type="submit" class="btn btn-lg" style="background-color:#007bff;color:white;">Absenden</button>';
  	$('#assistant-form').append(html);
  	$('#assistant-form').attr('action', "{% url 'assistant' %}");
  </script>
{% endblock %}
